.education {
    margin-top: 20px;
    border-top: 1px solid black;
    font-family: "Indie Flower", cursive;
    padding: 50px;
}

.education h2 {
    font-size: 68px;
    font-family: 'Inria Serif', serif;
}

.educations {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    gap: 50px; 
    line-height: 2.2;
}
.yellow {
    background-color: yellow;
}

.underlined {
    text-decoration: underline;
}