@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inria+Serif:wght@300;400&display=swap');

.education {
    margin-top: 20px;
    border-top: 1px solid black;
    font-family: "Indie Flower", cursive;
    padding: 50px;
}

.education h2 {
    font-size: 68px;
    font-family: 'Inria Serif', serif;
}

.educations {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    gap: 50px;
    line-height: 2.2;
}

.yellow {
    background-color: yellow;
}

.underlined {
    text-decoration: underline;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {

    /* Adjustments for screens up to 768px wide */
    .education {
        padding: 30px;
    }

    .education h2 {
        font-size: 40px;
        text-align: center;
    }

    .educations {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        line-height: 1.8;
    }
}

/* Add more media queries as needed for different screen sizes */