.project {
    color: rgb(0, 0, 0);

    font-family: "Indie Flower", cursive;
    border-top: 1px solid black;
}
.project h1, h2 {
    font-family: 'Inria Serif', serif;
}
.project__card {
    display: flex;

    justify-content: space-between;

    padding: 70px;
/* background: #393735; */
        color: black;
}



.project__card1 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background: #393735; */
    background: #000000;

        color: #d9d9d9;
}

.project__card:nth-child(even) {
    flex-direction: row-reverse;
    /* background: #393735; */
        background: #000000;
        color: #d9d9d9;

}

.projectimage img {
    width: 420px;
    height: 560px;
    margin-right: 40px;
}

.project__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.project__info p {
    font-size: 20px;
line-height: 3.5;
}